html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-search-box {
    border-radius: 15px;
}

.main-search-box-left {
    border-top-left-radius: 15px;
}

.main-search-box-right {
    border-top-right-radius: 15px;
}