@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["About"];
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center">@Localizer["Project About"]</p>
