@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-search-box">
    <div class="d-flex justify-content-between">
        <div class="w-100 main-search-box-left bg-primary">
            <h4>I need a driver</h4>
        </div>
        <div class="w-100 main-search-box-right">
            <h4>I need a cargo</h4>
        </div>
    </div>
</div>
