@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<h1 class="text-center mb-5">Пошук</h1>

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="d-flex text-center">
        <div class="panel-top-left bg-primary">
            <a class="fs-3 text-white text-decoration-none stretched-link" href="#" id="car-btn">Мені потрібен водій</a>
        </div>
        <div class="panel-top-right">
            <a class="fs-3 text-black text-decoration-none stretched-link" href="#" id="cargo-btn">Мені потрібен вантаж</a>
        </div>
    </div>
    <div class="p-3" id="car-request-form">
        <div>
            <form method="post" class="search" asp-action="Search" asp-controller="Home">
                <input asp-for=IsCarSearching checked="checked" hidden="hidden" />
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CarSearch.DeparturePlace>Місце відбуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="car-departure" asp-for=CarSearch.DeparturePlace autocomplete="off" spellcheck="false" required />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CarSearch.DestinationPlace>Місце прибуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="car-destination" asp-for=CarSearch.DestinationPlace autocomplete="off" spellcheck="false" required />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarSearch.SearchRange>Режим пошуку</label>
                    <div class="col-10">
                        <select class="form-select" asp-for=CarSearch.SearchRange asp-items=Html.GetEnumSelectList(typeof(SearchRange))></select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-search">Пошук</button>
            </form>
        </div>
    </div>
    <div class="p-3" id="cargo-request-form" style="display: none;">
        <div>
            <form method="post" class="search" asp-action="Search" asp-controller="Home">
                <input asp-for=IsCargoSearching checked="checked" hidden="hidden" />
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CargoSearch.DeparturePlace>Місце відбуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="cargo-departure" asp-for=CargoSearch.DeparturePlace autocomplete="off" spellcheck="false" required />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CargoSearch.DestinationPlace>Місце прибуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="cargo-destination" asp-for=CargoSearch.DestinationPlace autocomplete="off" spellcheck="false" required />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CargoSearch.SearchRange>Режим пошуку</label>
                    <div class="col-10">
                        <select class="form-select" asp-for=CargoSearch.SearchRange asp-items=Html.GetEnumSelectList(typeof(SearchRange))></select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Пошук</button>
            </form>
        </div>
    </div>
</div>

<div id="search-results"></div>

@section Scripts {
<script>
    const carDepartureAutocomplete = getSettlementAutocomplete("#car-departure", "Місце відбуття...");
    const carDestinationAutocomplete = getSettlementAutocomplete("#car-destination", "Місце прибуття...");

    const cargoDepartureAutocomplete = getSettlementAutocomplete("#cargo-departure", "Місце відбуття...");
    const cargoDestinationAutocomplete = getSettlementAutocomplete("#cargo-destination", "Місце прибуття...");
</script>
}