@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<h1 class="text-center mb-5">Пошук</h1>

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="d-flex text-center">
        <div class="panel-top-left bg-primary">
            <a class="fs-3 text-white text-decoration-none stretched-link" href="#" id="car-btn">Мені потрібен водій</a>
        </div>
        <div class="panel-top-right">
            <a class="fs-3 text-black text-decoration-none stretched-link" href="#" id="cargo-btn">Мені потрібен вантаж</a>
        </div>
    </div>
    <div class="p-3" id="car-request-form">
        <div>
            <form method="post" class="row g-3 pt-3" asp-controller="Requests" asp-action="CarRequestFromSearch">
                <input asp-for=IsCarSearching checked="checked" hidden="hidden" />
                <div class="col-lg-6 mt-0 mb-3">
                    <label class="form-label" asp-for=CarSearch.DeparturePlace>Місце відбуття <span class="text-danger">*</span></label>
                    <input class="form-control w-100 mb-3" id="car-departure" asp-for=CarSearch.DeparturePlace placeholder="Місце відбуття..." autocomplete="off" spellcheck="false" required/>
                    @* <div class="mb-3"><span asp-validation-for="CarSearch.DeparturePlace" class="text-danger"></span></div> *@
                    <label class="form-label" asp-for=CarSearch.DestinationPlace>Місце прибуття <span class="text-danger">*</span></label>
                    <input class="form-control w-100 mb-3" id="car-destination" asp-for=CarSearch.DestinationPlace placeholder="Місце прибуття..." autocomplete="off" spellcheck="false" required/>
                    @* <div class="mb-3"><span asp-validation-for="CarSearch.DestinationPlace" class="text-danger"></span></div> *@
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label" asp-for="CarSearch.DepartureTime">Ранній час відбуття</label>
                            <input class="form-control" type="date" asp-for="CarSearch.DepartureTime" />
                            <span asp-validation-for="CarSearch.DepartureTime" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label class="form-label" asp-for="CarSearch.LateDepartureTime">Пізній час відбуття</label>
                            <input class="form-control" type="date" asp-for="CarSearch.LateDepartureTime" />
                            <span asp-validation-for="CarSearch.LateDepartureTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-0">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="form-label" asp-for="CarSearch.TrailerType">Тип причіпу</label>
                            <select class="form-select" asp-for="CarSearch.TrailerType" asp-items="Html.GetEnumSelectList<TrailerType>()"></select>
                            <span asp-validation-for="CarSearch.TrailerType" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" asp-for="CarSearch.Mass">Вага</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Mass" autocomplete="off" />
                                <span class="input-group-text">t</span>
                            </div>
                            <span asp-validation-for="CarSearch.Mass" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" asp-for="CarSearch.Volume">Об'єм</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Volume" autocomplete="off" />
                                <span class="input-group-text">m<sup>3</sup></span>
                            </div>
                            <span asp-validation-for="CarSearch.Volume" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CarSearch.Length">Довжина</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Length" autocomplete="off" />
                                <span class="input-group-text">m</span>
                            </div>
                            <span asp-validation-for="CarSearch.Length" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CarSearch.Width">Ширина</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Width" autocomplete="off" />
                                <span class="input-group-text">m</span>
                            </div>
                            <span asp-validation-for="CarSearch.Width" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CarSearch.Height">Висота</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Height" autocomplete="off" />
                                <span class="input-group-text">m</span>
                            </div>
                            <span asp-validation-for="CarSearch.Height" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-text">Вага, об'єм та виміри вантажу, необов'язково до заповнення</div>
                    </div>
                </div>
                <div class="col-12 m-0">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="CarSearch.GPS" value="true">
                        <label class="form-check-label" asp-for="CarSearch.GPS">Потрібен GPS?</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-search col-4 search-button" formaction="/Home/Search">Пошук</button>
                <div class="col-4"></div>
                <button type="submit" class="btn btn-primary btn-search col-4 skip-form-validation" formaction="/Requests/CarRequestFromSearch">Створити оголошення</button>
            </form>
        </div>
    </div>
    <div class="p-3" id="cargo-request-form" style="display: none;">
        <div>
            <form method="post" class="row g-3 pt-3" asp-controller="Requests" asp-action="CargoRequestFromSearch">
                <input asp-for=IsCargoSearching checked="checked" hidden="hidden" />
                <div class="col-lg-6 mt-0 mb-3">
                    <label class="form-label" asp-for=CargoSearch.DeparturePlace>Місце відбуття <span class="text-danger">*</span></label>
                    <input class="form-control mb-3 w-100" id="car-departure" asp-for=CargoSearch.DeparturePlace placeholder="Місце відбуття..." autocomplete="off" spellcheck="false" required />
                    @* <div class="mb-3"><span asp-validation-for="CargoSearch.DeparturePlace" class="text-danger"></span></div> *@
                    <label class="form-label" asp-for=CargoSearch.DestinationPlace>Місце прибуття <span class="text-danger">*</span></label>
                    <input class="form-control mb-3 w-100" id="car-destination" asp-for=CargoSearch.DestinationPlace placeholder="Місце прибуття..." autocomplete="off" spellcheck="false" required />
                    @* <div class="mb-3"><span asp-validation-for="CargoSearch.DestinationPlace" class="text-danger"></span></div> *@
                    <div class="col-12">
                        <label class="form-label" asp-for="CargoSearch.DepartureTime">Час відбуття</label>
                        <input class="form-control" asp-for="CargoSearch.DepartureTime" />
                        <span asp-validation-for="CargoSearch.DepartureTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 m-0">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="form-label" asp-for="CargoSearch.TrailerType">Тип причіпу</label>
                            <select class="form-select" asp-for="CargoSearch.TrailerType" asp-items="Html.GetEnumSelectList<TrailerType>()"></select>
                            <span asp-validation-for="CargoSearch.TrailerType" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" asp-for="CargoSearch.Mass">Вага</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Mass" autocomplete="off" />
                                <span class="input-group-text">t</span>
                            </div>
                            <span asp-validation-for="CargoSearch.Mass" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" asp-for="CargoSearch.Volume">Об'єм</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Volume" autocomplete="off" />
                                <span class="input-group-text">m<sup>3</sup></span>
                            </div>
                            <span asp-validation-for="CargoSearch.Volume" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CargoSearch.Length">Довжина</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Length" autocomplete="off" />
                                <span class="input-group-text">m</span>
                            </div>
                            <span asp-validation-for="CargoSearch.Length" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CargoSearch.Width">Ширина</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Width" autocomplete="off" />
                                <span class="input-group-text">m</span>
                            </div>
                            <span asp-validation-for="CargoSearch.Width" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CargoSearch.Height">Висота</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Height" autocomplete="off" />
                                <span class="input-group-text">m</span>
                            </div>
                            <span asp-validation-for="CargoSearch.Height" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-text">Вага, об'єм та виміри вантажу, необов'язково до заповнення</div>
                    </div>
                </div>
                <div class="col-12 m-0">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="CargoSearch.GPS" value="true">
                        <label class="form-check-label" asp-for="CargoSearch.GPS">Присутній GPS?</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-search col-4 search-button" formaction="/Home/Search">Пошук</button>
                <div class="col-4"></div>
                <button type="submit" class="btn btn-primary btn-search col-4 skip-form-validation" formaction="/Requests/CargoRequestFromSearch">Створити оголошення</button>
            </form>
        </div>
    </div>
</div>

<div id="search-results"></div>

@section Scripts {
    @* <script>
        const carDepartureAutocomplete = getSettlementAutocomplete("#car-departure", "Місце відбуття...");
        const carDestinationAutocomplete = getSettlementAutocomplete("#car-destination", "Місце прибуття...");

        const cargoDepartureAutocomplete = getSettlementAutocomplete("#cargo-departure", "Місце відбуття...");
        const cargoDestinationAutocomplete = getSettlementAutocomplete("#cargo-destination", "Місце прибуття...");
    </script> *@
    @await Html.PartialAsync("_ValidationScriptsPartial")
}