@model CarRequest
@{
    bool isCreating = Model == null || Model?.Id == 0;
    ViewData["Title"] = isCreating ? "Create Car Request" : "Edit Car Request";
}

@if (isCreating)
{
    <h1 class="text-center mb-5">Створення запиту</h1>
}
else
{
    <h1 class="text-center mb-5">Редагування запиту</h1>
}

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="text-center bg-primary panel-top">
        <span class="fs-3 text-white">Пошук водія</span>
    </div>
    <div id="car-request-form">
        <form method="post" asp-action="@(isCreating ? "CreateCarRequest" : "EditCarRequest")" asp-controller="Requests" class="row p-3 g-3">
            <div class="col-12">
                <label class="form-label" asp-for=ContactName>Контактне ім'я</label>
                <input class="form-control" asp-for=ContactName required />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for=ContactPhoneNumber>Контактний номер</label>
                <input class="form-control" asp-for=ContactPhoneNumber placeholder="+380 ** *** ****" />
                <span asp-validation-for="ContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for=ContactEmail>Контактна пошта</label>
                <input class="form-control" asp-for=ContactEmail placeholder="placeholder@gmial.com" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
                <div class="form-text">Введення пошти не є обов'язковим</div>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for=DeparturePlace>Місце відбуття</label>
                <input class="form-control make-readonly" id="car-departure" asp-for=DeparturePlace autocomplete="off" spellcheck="false" required />
                <span asp-validation-for="DeparturePlace" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for=DestinationPlace>Місце прибуття</label>
                <input class="form-control make-readonly" id="car-destination" asp-for=DestinationPlace autocomplete="off" spellcheck="false" required />
                <span asp-validation-for="DestinationPlace" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for=EarlyDepartureDate>Ранній день відбуття</label>
                <input class="form-control make-readonly" type="date" asp-for=EarlyDepartureDate autocomplete="off" required />
                <span asp-validation-for="EarlyDepartureDate" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for=LateDepartureDate>Пізній день відбуття</label>
                <input class="form-control make-readonly" type="date" asp-for=LateDepartureDate autocomplete="off" required />
                <span asp-validation-for="LateDepartureDate" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label class="form-label" asp-for="Cargo.TrailerType">Тип причепа</label>
                <select class="form-select" asp-for="Cargo.TrailerType" asp-items="Html.GetEnumSelectList<TrailerType>()" required></select>
                <span asp-validation-for="Cargo.TrailerType" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label class="form-label" asp-for=Cargo.Mass>Маса вантажу</label>
                <div class="input-group">
                    <input class="form-control" asp-for=Cargo.Mass autocomplete="off" required />
                    <span class="input-group-text">t</span>
                </div>
                <span asp-validation-for="Cargo.Mass" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label class="form-label" asp-for=Cargo.Volume>Об'єм</label>
                <div class="input-group">
                    <input class="form-control" asp-for=Cargo.Volume autocomplete="off" />
                    <span class="input-group-text">m<sup>3</sup></span>
                </div>
                <span asp-validation-for="Cargo.Volume" class="text-danger"></span>
            </div>
            <div class="col-4 col-lg-2">
                <label class="form-label" asp-for=Cargo.Length>Довжина</label>
                <div class="input-group">
                    <input class="form-control" asp-for=Cargo.Length autocomplete="off" />
                    <span class="input-group-text">m</span>
                </div>
                <span asp-validation-for="Cargo.Length" class="text-danger"></span>
            </div>
            <div class="col-4 col-lg-2">
                <label class="form-label" asp-for=Cargo.Width>Ширина</label>
                <div class="input-group">
                    <input class="form-control" asp-for=Cargo.Width autocomplete="off" />
                    <span class="input-group-text">m</span>
                </div>
                <span asp-validation-for="Cargo.Width" class="text-danger"></span>
            </div>
            <div class="col-4 col-lg-2">
                <label class="form-label" asp-for=Cargo.Height>Висота</label>
                <div class="input-group">
                    <input class="form-control" asp-for=Cargo.Height autocomplete="off" />
                    <span class="input-group-text">m</span>
                </div>
                <span asp-validation-for="Cargo.Height" class="text-danger"></span>
            </div>
            <div class="col-12 form-text">Можна вказати об'єм вантажу або його виміри, обидва варіанти не обов'язкові</div>
            <div class="col-12">
                <label class="form-label" asp-for=Price>Пропонована ціна</label>
                <div class="input-group">
                    <span class="input-group-text">₴</span>
                    <input class="form-control" asp-for=Price autocomplete="off" required />
                    <select class="form-select" asp-for=PriceType asp-items="Html.GetEnumSelectList<PriceType>()" required></select>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
                <span asp-validation-for="PriceType" class="text-danger"></span>
            </div>
            <div class="col-12 text-center">
                <label class="form-label" asp-for=Details>Деталі</label>
                <textarea class="form-control" asp-for=Details rows="3"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="NeedsGPS" value="true">
                    <label class="form-check-label" asp-for="NeedsGPS">Необхідний GPS?</label>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-primary">Підтвердити</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @if (!isCreating)
    {
        <script>
            $(document).ready(function () {
                $('.make-readonly').prop('readonly', true);
            });
        </script>
    }
}