@model CargoRequest
@{
    ViewData["Title"] = "Create Cargo Request";
}

<h1 class="text-center mb-5">Створення запиту</h1>

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="text-center bg-primary panel-top">
        <span class="fs-3 text-white">Мені потрібен вантаж</span>
    </div>
    <div class="p-3" id="cargo-request-form">
        <form method="post" asp-action="CreateCargoRequest" asp-controller="Requests">
            <div asp-validation-summary="All"></div>
            <div class="mb-3 row">
                <label class="col-form-label col-2" asp-for=ContactPhoneNumber>Контактний номер</label>
                <div class="col-10">
                    <input class="form-control" asp-for=ContactPhoneNumber pattern="\+380\d{9}" placeholder="+380*********" required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-2" asp-for=ContactName>Контактне ім'я</label>
                <div class="col-10">
                    <input class="form-control" asp-for=ContactName required />
                </div>
            </div>
            <div class="mb-3 row clear-group">
                <label class="col-form-label col-2" asp-for=DeparturePlace>Місце відбуття</label>
                <div class="col-8">
                    <input class="form-control w-100 clear-input" id="cargo-departure" asp-for=DeparturePlace autocomplete="off" spellcheck="false" required />
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                </div>
            </div>
            <div class="mb-3 row clear-group">
                <label class="col-form-label col-2" asp-for=DestinationPlace>Місце прибуття</label>
                <div class="col-8">
                    <input class="form-control w-100 clear-input" id="cargo-destination" asp-for=DestinationPlace autocomplete="off" spellcheck="false" required />
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-2" asp-for=DepartureTime>Час відбуття</label>
                <div class="col-10">
                    <input class="form-control" asp-for=DepartureTime required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-2" asp-for=Price>Пропонова ціна</label>
                <div class="col-10">
                    <input class="form-control" asp-for=Price autocomplete="off" required />
                </div>
            </div>
            <div class="mb-3 text-center">
                <label class="form-label" asp-for=Details>Деталі</label>
                <textarea class="form-control" asp-for=Details rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Підтвердити</button>
        </form>
    </div>
</div>