@model IndexViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-5">Створення запиту</h1>

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="d-flex text-center">
        <div class="panel-top-left bg-primary">
            <a class="fs-3 text-white text-decoration-none stretched-link" href="#" id="car-btn">Мені потрібен водій</a>
        </div>
        <div class="panel-top-right">
            <a class="fs-3 text-black text-decoration-none stretched-link" href="#" id="cargo-btn">Мені потрібен вантаж</a>
        </div>
    </div>
    <div class="p-3" id="car-request-form">
        <div>
            <form method="post" asp-action="AddCarRequest" asp-controller="Requests">
                <div asp-validation-summary="All"></div>
                <input asp-for=IsCarRequest checked="checked" hidden="hidden" />
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarRequest.ContactPhoneNumber>Контактний номер</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CarRequest.ContactPhoneNumber  placeholder="+380*********" required />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarRequest.ContactName>Контактне ім'я</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CarRequest.ContactName required />
                    </div>
                </div>
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CarRequest.DeparturePlace>Місце відбуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="car-departure" asp-for=CarRequest.DeparturePlace autocomplete="off" spellcheck="false" required />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CarRequest.DestinationPlace>Місце прибуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="car-destination" asp-for=CarRequest.DestinationPlace autocomplete="off" spellcheck="false" required />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarRequest.EarlyDepartureDate>Ранній день відбуття</label>
                    <div class="col-10">
                        <input class="form-control w-100 clear-input" type="date" asp-for=CarRequest.EarlyDepartureDate autocomplete="off" required />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarRequest.LateDepartureDate>Пізній день відбуття</label>
                    <div class="col-10">
                        <input class="form-control w-100 clear-input" type="date" asp-for=CarRequest.LateDepartureDate autocomplete="off" required />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarRequest.Cargo.Mass>Маса вантажу</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CarRequest.Cargo.Mass autocomplete="off" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarRequest.Cargo.Volume>Об'єм вантажу</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CarRequest.Cargo.Volume autocomplete="off" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarRequest.Price>Пропонована ціна</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CarRequest.Price autocomplete="off" required />
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <label class="form-label" asp-for=CarRequest.Details>Деталі</label>
                    <textarea class="form-control" asp-for=CarRequest.Details rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Підтвердити</button>
            </form>
        </div>
    </div>
    <div class="p-3" id="cargo-request-form" style="display: none;">
        <div>
            <form method="post" asp-action="AddCargoRequest" asp-controller="Requests">
                <div asp-validation-summary="All"></div>
                <input asp-for=IsCargoRequest checked="checked" hidden="hidden" />
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CargoRequest.ContactPhoneNumber>Контактний номер</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CargoRequest.ContactPhoneNumber pattern="\+380\d{9}" placeholder="+380*********" required />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CargoRequest.ContactName>Контактне ім'я</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CargoRequest.ContactName required />
                    </div>
                </div>
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CargoRequest.DeparturePlace>Місце відбуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="cargo-departure" asp-for=CargoRequest.DeparturePlace autocomplete="off" spellcheck="false" required />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CargoRequest.DestinationPlace>Місце прибуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="cargo-destination" asp-for=CargoRequest.DestinationPlace autocomplete="off" spellcheck="false" required />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 h-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CargoRequest.DepartureTime>Час відбуття</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CargoRequest.DepartureTime required />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CargoRequest.Price>Пропонова ціна</label>
                    <div class="col-10">
                        <input class="form-control" asp-for=CargoRequest.Price autocomplete="off" required />
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <label class="form-label" asp-for=CargoRequest.Details>Деталі</label>
                    <textarea class="form-control" asp-for=CargoRequest.Details rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Підтвердити</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const carDepartureAutocomplete = getSettlementAutocomplete("#car-departure", "Місце відбуття...");
        const carDestinationAutocomplete = getSettlementAutocomplete("#car-destination", "Місце прибуття...");

        const cargoDepartureAutocomplete = getSettlementAutocomplete("#cargo-departure", "Місце відбуття...");
        const cargoDestinationAutocomplete = getSettlementAutocomplete("#cargo-destination", "Місце прибуття...");
    </script>
}