@inject IHtmlLocalizer<SharedResource> Localizer
@model RegisterViewModel
@{
    ViewData["Title"] = Localizer["Register"];
}

<h3>@Localizer["Register"]</h3>
<form method="post">
    @if (ViewData["Error"] != null)
    {
        <span class="text-danger">@Localizer[ViewData["Error"]!.ToString() ?? string.Empty]</span>
    }
    <div class="mb-3">
        <label class="form-label" asp-for=Email></label>
        <input class="form-control" asp-for=Email />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=Name></label>
        <input class="form-control" asp-for=Name />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=Password></label>
        <input class="form-control" asp-for=Password />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=ConfirmPassword></label>
        <input class="form-control" asp-for=ConfirmPassword />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">@Localizer["Confirm"]</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}